* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: #f1f1f1;
}

#controls-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loading-bar-container {
  position: relative;
  height: 10px;
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%; /* Add this line */
  background-color: #4caf50;
}

.scene-select-container {
  width: 100%;
}

.custom-select {
  appearance: none;
  background-color: transparent;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3e8e41;
}

@media only screen and (min-width: 768px) {
  #controls-container {
    flex-direction: row;
    align-items: center;
  }
  .scene-select-container, .button {
    height: 57px;
  }

  #scene-select{
    height: 100%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

#controls-container.ui-visible {
  animation: slideIn 0.5s forwards;
}

#controls-container.ui-hidden {
  animation: slideOut 0.5s forwards;
}

#toggle-ui {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#toggle-ui:hover {
  background-color: #444;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black background with opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}